
  <div class="card m-3">   
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Details</th>
            </tr>
        </thead>
        <tbody >                
          <tr *ngFor="let car of cars">
              <td>{{ car.name }}</td>
              <td>{{ car.model }}</td>
              <td>
                <button class="btn btn-primary" (click)="viewDetails(car.id)">           
                    <i class="bi bi-eye"></i>
                </button>
              </td>
          </tr>
        </tbody>
    </table>
</div>
